#commit comment here


#Complete next line with issue number  
Update issue 
#summary is rarely updated. If you need that uncomment and complete next line
#Summary:  
#Uncomment the new Status you would get your issue. No uncomment status will keep the previous status
#Status: Accepted
#Status: Fixed
#Status: New
#Uncommet Labels and/or add labels to the list (comma or space separate) if you want update/add Labels
#Labels: Type-Defect Priority-Medium
#Labels: Type-Defect Priority-High
#Labels: Type-Defect Priority-Critical
#Labels: Type-Enhacement Priority-Medium
#Labels: Type-Enhacement Priority-Low
#Labels: Type-Enhacement Priority-High

#Comment text for the issue tracker goes here
